[flake8]
max-line-length = 79
extend-ignore = E501, E203, W503
exclude =
    .git,
    __pycache__,
    build,
    dist,
    venv,
    .venv,
    env,
    .env,
    *.egg-info,
    scratch
per-file-ignores =
    tests/*: F401, F841, E306, W391, E303
    evals/*: F401, F403, F841, E303, W391, E306
    app.py: F401
    aegis/*: F401, F841, E301, E305, E306, E402, W293, W391
